
/* WORK SANS GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* SHARED STYLES START */
*{
    font-family: 'Work Sans', sans-serif;
}
.one{
    color:  #FF42A5 ;
}
/* SHARED STYLES END */

/* NAV STYLES START */

nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 140px;
}
.nav-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
nav > ul{
    display: flex;
    padding: 50px 0px;
}
.nav-follow{
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 0px;
    padding-left: 20px;
    margin-top: -0px;
}
nav li{
    list-style: none;
    margin-right: 32px;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}
/* NAV STYLES END */

/*  BANNER STYLES START */
.banner{
    display: flex;
    align-items: center;
    padding: 0px 140px;
    justify-content: space-between;
    gap: 100px;
}
.banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: -75px;
}
.banner-goat{
    font-size: 5.8rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -14px;
}
.banner-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
}
.button{
    margin-top: 40px;
}
.button-one{
    border-radius: 3rem;
    background:#FF42A5;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 20px;
    border-style: none;
}
.button-two{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 48px;
    padding: 21px 40px;
    background:  #4EC5F7;
    border-style: none;
}
.banner img{
    max-width: 600px;
}
/* BANNER STYLES END */

/* FUNNY STYLES START */
.funny {
    padding: 0px 140px;
}
.funny-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.funny-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}
.img-description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.card-container .card-other-img{
   max-width:242px ; 
    height: 300px;
    align-items: center;
}
.funny-content {
    text-align: center;
}
.funny-img {
    margin-top: 60px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.funny-img .card {
    position: relative;
    width: 242px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}
.funny-img .card-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.funny-img .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.funny-img .card:hover .img-overlay {
    opacity: 1;
}
.watch-button {
    padding: 10px 20px;
    margin-top: 10px;
    color: #FF42A5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.funny-two{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* FUNNY STYLES END */


/* ONLINE STYLES START */
.online-container{
    display: flex;
    padding: 0px 140px;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.online-container img{
    max-width: 80%;
}
.online-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0%;
}
.online-description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}
.two{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-img img{
    margin-top: 50px;
}
.nd-img{
    max-width: 40%;
    text-align: right;
    padding-left: 320px;
    position: relative;
    bottom: 250px;
}
.online-content{
    padding-bottom: 200px;
}
/* ONLINE STYLES END */

/* HOVER STYLES START */
.hover{
    padding: 0px 140px;
    align-items: center;
    margin-bottom: 50px;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    align-items: center;
    justify-content: space-around;
}
.hover-card{
    display: flex;
}
.hover-description:hover{
    color: #F948B2;

    border: 2px solid palevioletred;
    border-radius: 50px;
    color: #F948B2; 
    cursor: pointer;
}
.hover-description{
    align-items: center;
    display: flex;
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;
}
/* HOVER STYLES END */

/* FOOTER STYLES START */
.footer{
    max-width:1424px ;
    height: 636px;
    background-color: #0B0223;
    align-items: center;
}
.footer-container{
    padding-top: 50px;
    text-align: center;
}
.footer-title{
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
    align-items: center;
}
.footer-link{
    display: flex;
    padding-left: 370px;
}
.footer-sup{
    text-align: center;
    margin-left: 30px;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
}
.footer-privacy{
    display: flex;
    margin-left: 370px;
}
.privacy{
    color: #FFF;
    margin-left: 40px;
}
.footer-idk{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.footer-btn{
    margin-right: 10px;
    background-color: #0B0223;
    border-style: none;
}
.footer-button{
    margin: 50px 0px;
}
/* FOOTER STYLES END */


/* RESPONSIVE MOBILE START */

@media screen and (max-width:576px) {
    nav,
    nav > ul,
    .funny-img,
    .online-container
    {
        flex-direction: column;

    }
    /* NAV */
    nav{
        padding: 0px ;
        gap:10px;
        text-align: center;
    }
    nav > ul{
        gap: 20px;
    }
    .nav-follow,
    nav > ul,
    .funny
    {
        padding: 20px;
        margin: 0px;
    }
    /* BANNER */
    .banner
    {
        flex-direction: column-reverse;
        padding: 30px;
    }
    .banner-container{
        padding: 0px 60px;
    }
    .banner img{
        max-width: 100%;
    }
    .button{
        display: flex;
    }
    /* ONLINE */
    .online-img{
        max-width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
        max-height: 400px;
    }
    .online-img img{
        margin-bottom: 50px;
    }
    .nd-img{
        max-width: 50%;
        position: relative;
        left: 190px;
        padding: 0px;
    }
    .online-container{
        text-align: center;
        margin-top: -100px;
        padding: 10px;
        margin: 0px;
    }
    /* HOVER */
    .hover{
        padding: 0px;
        margin: 0px;
    }
    .hover-container{
        margin-top: -180px;
        max-width: 400px;
        align-items: center;
        padding-left: 30px;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .hover-card{
        align-items: center;
        margin-bottom: 50px;
    }
    .hover-card img{
        max-width: 70%;
    }
    .hover-description{
        font-size: 0.8rem;
    }
    /* FOOTER */
    footer{
        padding: 0%;
    }
    .footer-link
    {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
    }
    .footer-sup{
        margin: 0px;
        margin-top: 20px;
    }
    .footer-button{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-privacy{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-button{
        row-gap: 15px;
    }
    .footer-privacy{
        margin-top: -50px;
        margin: 0px;
    }
    .funny-img{
        padding-left: 80px;}
    }
/* RESPONSIVE MOBILE END */
   
/* RESPONSIVE TABLET START */
@media screen and (min-width:576px) and (max-width:960px) {
    nav,
    .banner,
    .funny,
    .online-container,
    .hover,
    .footer-link{
        padding: 0px;
    }
    .banner,
    .online-container{
        flex-direction: column;
    }
    .footer-privacy{
        margin: 0px;
    }
    .funny-img{
        padding-left: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-link,
    .footer-privacy{
        padding-left: 40px;
    }

}
/* RESPONSIVE TABLET END */